<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Collaborative</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Collaborative</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col l6 s12"><br>
        <h2>Admin Poll Dashboard</h2>

        <% if(poll['status'] === "open") { %>
          <div id="closed-vote-message"><button id="close-button">End This Poll</button></div><br>
          <h5>Please refresh your page to see current results.</h5>
        <% } else { %>
          <h4>This Poll Is Closed!</h4>
          <div id="reopened-vote-message"><button id="reopen-button">Reopen This Poll</button></div><br>
          <% if(poll_winner) { %>
            <h5>The top choice was <%= poll_winner[0] %> with <%= poll_winner[1] %> votes.</h5>
          <% } %>
        <% } %>

        <button><a href="/poll/<%= id %>">User Poll Page</a></button>

        <table class="striped">
          <thead>
            <tr>
                <th data-field="id">Poll Results for <%= poll.question %></th>
                <th data-field="name">Vote Count</th>
            </tr>
          </thead>

          <tbody>
            <% for (var key in votes) { %>
              <tr>
                <td> <%= key %></td>
                <td><%= votes[key] %></td>
              </tr>
            <% }; %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">Collaborative is a crowdsourced polling application for surveying end-user preferences.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Admin</a></li>
          <li><a class="white-text" href="#!">Voter</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Steve Kinney</a></li>
          <li><a class="white-text" href="#!">Tan Doan</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Template Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
</body>
</html>
