<div id="choices">
  <h2><%= poll.question %></h2>
  <button><%= poll.responses[0] %></button>
  <button><%= poll.responses[1] %></button>
  <button><%= poll.responses[2] %></button>
  <button><%= poll.responses[3] %></button>
</div>
<br/>

<div id="your-vote"></div>

<table class="striped">
  <thead>
    <tr>
        <th data-field="id">Poll Results for <%= poll.question %></th>
        <th data-field="name">Vote Count</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= poll.responses[0] %></td>
      <td id="<%= poll.responses[0].toUpperCase() %>-votes">0</td>
    </tr>
    <tr>
      <td><%= poll.responses[1] %></td>
      <td id="<%= poll.responses[1].toUpperCase() %>-votes">0</td>
    </tr>
    <tr>
      <td><%= poll.responses[2] %></td>
      <td id="<%= poll.responses[2].toUpperCase() %>-votes">0</td>
    </tr>
    <tr>
      <td><%= poll.responses[3] %></td>
      <td id="<%= poll.responses[3].toUpperCase() %>-votes">0</td>
    </tr>
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
